.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  text-align: center;
  color: #105a8e;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
}
.logoimage{
    width: 100%;
    max-width: 169px;
    height: 100%;
}
body{
  /*background-image: url(../../../../assets/images/wallpaperbetter.com_3840x2160.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}
.undisplay{
  display: none;
}
.display{
  display: block;
}
